db/
incremental_db/
output_files/
*.bak
*.qws
*.ppf
*.ddb
*.cmp
*.sip
*.spd
*.bsf
*.f
*.jdi
*.html
*.smsg
*.summary
*.done
*.pin
*.qo
*.qdf
/nios2_system/synthesis/
/nios2_system/simulation/
*.vhd.bak
peripherique/work/
peripherique/vsim.wlf
peripherique/transcript
